body,
html {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

.gateway-page-container {
  width: 100%;
  flex-grow: 1;
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--gateway-page-container-padding-y) var(--gateway-page-container-padding-x);
}
