@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'FK Grotesk';
  src:
    url('/fonts/FKGrotesk.woff2') format('woff2 supports variations'),
    url('/fonts/FKGrotesk.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  color: var(--sand12);
  font: var(--text-base);
  text-wrap: pretty;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.gateway-page-container {
  width: 100%;
  flex-grow: 1;
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--gateway-page-container-padding-y) var(--gateway-page-container-padding-x);
}
