.heroText {
  font: var(--text-hero-l);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 12.8px;
  text-align: left;
  margin: 0;

  @media (max-width: 1120px) {
    text-align: center;
    font-size: 32px;

    br {
      display: none;
    }
  }

  @media (max-width: 900px) {
    font-size: 48px;
  }

  @media (max-width: 400px) {
    letter-spacing: 6px;
  }
}

.heroImage {
  background: url('/images/ai/hero-section-mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 354px;

  @media (min-width: 1120px) {
    display: none;
  }

  @media (max-width: 798px) {
    background-position: center;
  }
}

.aiSection {
  background-color: #9797ff;
  background-image: url('/images/ai/hero-section.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 687px;
  overflow: hidden;
  padding: 72px 0;
  position: relative;

  @media (max-width: 900px) {
    padding: 0 24px;
  }

  @media (max-width: 1440px) {
    background-size: 1536px 687px;
  }
  @media (max-width: 1120px) {
    background-image: none;
    padding: 56px 1rem 36px;
  }

  @media (min-width: 1120px) {
    min-height: 543px;
  }
}

.aiPattern {
  align-items: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAYAAAA8AXHiAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGeSURBVHgB7doxTisxEAbgeY/mvQro6NiSDo6QkpJbcA2OwjWooKQMJ2DpKENJBV7FEYoBeQSIZr9PGk2cItWvsdfZnSBjKHVf6rnUbdD1N8g4K7VX6jhIEaycofaTIEWwcoam0yFYOYe179WiQ7Byhk8+8wnB6munlHNWgmD1tUGyFSYIVl8bJFcOCYLV106s/aBrJ2hNE+qo1GmpRanz2J5aB6X+x/oQv/l+FWz5E/O1iHU4pom0W/u0/uoZahnrgN2VGuv6Jpidl1+o2T5BznkrfKj9MdZT6l9836r+3k2pq1KXMVNz3gpbU7hOmj49AQ7x/lJ0WWsK5xhv2+AYkHQR29vbddDluqFvbNZPQZdg9S07az4gWH3tHZVgJQhW3xjb4XIZyo+Z3nffHN79CZ1gYuXc1b4KEytFsHLGptMhWDlj7Q9BimDlbJ4Ex4AftggHdwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIpXoUVLSWulnzoAAAAASUVORK5CYII=');
  background-position: center top;
  background-repeat: repeat;
  background-size: 75px 75px;
  display: flex;
  min-height: 540px;
  width: 100%;

  @media (min-width: 1120px), (max-width: 600px) {
    background: none;
    min-height: unset;
  }
}

.aiPatternContent {
  align-items: center;
  background: #9797ff;
  display: flex;
  margin: 185px 0 0;
  max-width: 808px;
  min-height: 260px;
  padding: 1rem;

  @media (max-width: 1120px) {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
}

.aiContainer {
  max-width: 1224px;
  margin: 0 auto;
}
