.pattern {
  width: 100%;
  min-height: 540px;
  display: flex;
  align-items: center;
  background-image: url('/images/events/bafkreibocppns3yi7yakmhgsj53qdgw74kzs25dulfbrrif5g3gtzm45zy.jpeg'),
    url('/images/events/bafkreibupkdrjsmnxcmcu4yvtlex3rmioj3eoqlb2jlccdkeujzfwmvzhy.jpeg'),
    url('/images/events/bafkreidovdxkcy6f3rb5xm3ack7tdujxngx6xn6bnkl7t72u7fds4vt53i.jpeg'),
    url('/images/events/bafkreic632ok3wpcjcqjem43e7y3er4pxtt457akiw6coevu43aksy4ctu.jpeg'),
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAYAAAA8AXHiAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGeSURBVHgB7doxTisxEAbgeY/mvQro6NiSDo6QkpJbcA2OwjWooKQMJ2DpKENJBV7FEYoBeQSIZr9PGk2cItWvsdfZnSBjKHVf6rnUbdD1N8g4K7VX6jhIEaycofaTIEWwcoam0yFYOYe179WiQ7Byhk8+8wnB6munlHNWgmD1tUGyFSYIVl8bJFcOCYLV106s/aBrJ2hNE+qo1GmpRanz2J5aB6X+x/oQv/l+FWz5E/O1iHU4pom0W/u0/uoZahnrgN2VGuv6Jpidl1+o2T5BznkrfKj9MdZT6l9836r+3k2pq1KXMVNz3gpbU7hOmj49AQ7x/lJ0WWsK5xhv2+AYkHQR29vbddDluqFvbNZPQZdg9S07az4gWH3tHZVgJQhW3xjb4XIZyo+Z3nffHN79CZ1gYuXc1b4KEytFsHLGptMhWDlj7Q9BimDlbJ4Ex4AftggHdwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIpXoUVLSWulnzoAAAAASUVORK5CYII=');
  background-size:
    13%,
    14%,
    14%,
    25%,
    75px 75px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-position:
    top left,
    top right 7%,
    bottom left 14%,
    bottom right,
    center top;

  @media (min-width: 576px) and (max-width: 1020px) {
    min-height: 570px;
  }

  @media (max-width: 575px) {
    min-height: 390px;
  }
}

.patternContent {
  padding: 1rem;
  max-width: 808px;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  align-items: center;
  min-height: 260px;
}
