.wrapper {
  --nav-height: 75px;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: var(--nav-height);
  box-shadow: 0 1px 0 var(--sand6);
  padding: 0 1.75rem;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 1320px;
}

.logo {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 200ms;
  border-radius: 4px;
  margin-right: auto;

  &:focus {
    outline: 2px solid var(--violet4);
    outline-offset: 0.3rem;
  }

  img {
    width: 110px;
  }
}
